.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  padding: 10px 16px;
  border: 1px solid #2b2b2b;
  border-radius: 25px;
  font-family: 'Euclid Circular B', 'Montserrat', sans-serif;
  font-size: 16px;
  outline: none;
}

.input:focus {
  border-color: #858585;
}

.fileInput {
  padding: 8px;
  font-family: 'Euclid Circular B', 'Montserrat', sans-serif;
  font-size: 14px;
}